{% include base_path %}

<!-- start custom head snippets -->

<!-- Favicon setup: using your website_logo.png as the favicon -->
<link rel="icon" type="image/png" href="{{ baseurl }}/images/website_logo.png">

<!-- Optional: If you are still using Apple Touch icons or manifest, keep these -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ baseurl }}/images/apple-touch-icon-180x180.png?v=M44lzPylqQ">
<link rel="manifest" href="{{ baseurl }}/images/manifest.json?v=M44lzPylqQ">
<link rel="mask-icon" href="{{ baseurl }}/images/safari-pinned-tab.svg?v=M44lzPylqQ" color="#000000">

<!-- Microsoft Tile setup (optional) -->
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{ baseurl }}/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="{{ baseurl }}/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">

<!-- Stylesheet for icons -->
<link rel="stylesheet" href="{{ baseurl }}/assets/css/academicons.css"/>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: { autoNumber: "all" }
    }
  });
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
